
  h4 {
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align:  left;  
    margin-left: 35px;
  }

  h5 {
    color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align:  left;  
    margin-left: 40px; 
    margin-top: 80px;
  }


  p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
  }
  
  .AppForm {
    width: 100%;
    background-color: #08082F;
    padding: 25px 40px;
    overflow: auto;
  }

  .PlaceTitle {
    color: white;
    font-weight:bold ;
  }
  
   .FormFieldB {
    margin-left: 40px; 
    margin-top: 25px
   
  } 
  
  .Form-Title {
    color: whitesmoke;
     font-weight: bold;
    min-width: 30px;
    /* margin-left: -300px; 
    margin-bottom: 100px; */
  }
  
  input {
    border: 1px solid #000; 
    padding: 10px; 
    font-size: 1.1em; 
    width: 500px; 
    font-family: sans-serif;
    margin-top: 20px;
  } 

  .FormT_button{
    background-color: white;
    color: rgb(12, 11, 11);
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
    margin-top: 20px;
    margin-left: -30px;
  
  }
  .FormFieldC__Input{
    margin-top: 50px;
    margin-left: 50px;
  }

  .FormFieldT{
    margin-top: 20px;
    margin-left: 30px;
  }

  .FormFieldText {
    margin-right: -50px;
    margin-top: 10px;
  }
  form {
    width: 50%;
  }
  * {
    box-sizing: border-box;
  } 
  .FormCenter{
    margin-bottom: 30px;
  } 
  .small {
    background-color: white;
    color: rgb(12, 11, 11);
    border-radius: 25px;
    padding: 15px 70px;
    font-size: 1em;
    /* margin-left: 100px; */
    /* margin-top: 20px; */
  }

  .shareholder{
    margin-left:50px; 
  }
  
  .FormTitle_Link {
    margin-left: 50px;
  }

  .FormTitle_Ln {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
  
    padding-bottom: 5px;
    margin-left: 40px;
  }
  a {
    font-size: 30px;
  }
