.App {
  height: 100vh;
  display: flex; 
  color: white;

}
.App__Form {
  width: 100%;
  background-color: #08082F;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  margin-bottom: 10%;
  display: inline-block;
  margin-left: 550px; 
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  
}

.PageSwitcher__Item--Active {
  display: inline-block;
  background-color: #EDE5E3;
  color: rgb(17, 16, 16);
  
}

.PageSwitcher__Item:first-child {
  display: inline-block;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  display: inline-block;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 0px;
  margin-top:50px;
  margin-left: 50px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  display: inline-block;
}

.FormTitle__Link {
  color: #707C8B;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
  display: inline-block;
  margin: 0px;
  margin-top:-5px;
  margin-bottom:-10px;
  /* margin-left: -550px; */

}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #EDE5E3;
  display: inline-block;
  margin-top:-5px;
  margin-bottom:-10px;
}

.FormField {
  margin-bottom: 35px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
}

.FormField__Input::placeholder {
  margin-bottom: 50px;
}

.FormField__Button {
  background-color: white;
  color: rgb(12, 11, 11);
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  margin-top: 20px;
  margin-left: -50px;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

form {
  width: 50%;
  margin-top: -55px;
}

.FormBtn {
  background-color: white;
    color: rgb(12, 11, 11);
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .5em;
    font-weight: 400;
    margin-top: 20px;
    margin-left: -30px;
}

p3{
  font-size: 25px;
    color: #66707D;
    text-decoration: none;
    padding-bottom: 5px;
    padding: 20px;
    
}

h6{
  font-size: 25px;
    color: #66707D;
    text-decoration: none;
    padding-bottom: 5px;
    padding: 20px;
}


.FormButtton {
  background-color: white;
    color: rgb(12, 11, 11);
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .5em;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 0px;
}